body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background-color: #2C9F86;
}
.App {
  text-align: center;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
  text-align: justify;
  justify-content: center;

}

.status {
  margin-bottom: 10px;
}

.square {
  background: #007b5e;
  border: 0.5px solid #999;
  float: left;
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  line-height: 10px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 33.33%;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: column;
}

.board{
  -webkit-box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.73);
-moz-box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.73);
box-shadow: 0px 10px 48px 0px rgba(0,0,0,0.73);
background-color: #007b5e;
padding: 30px 30px 10px 30px;
border-radius: 10px 10px 10px 10px;
}

.text-winner {
  padding-top: 15px;
}

.btn-reset {
  padding-top: 15px;
}
.my-web {
  font-weight: bold;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #2C9F86;
  color: white;
  text-align: center;
}
a, a:hover {
  color: black;
  text-decoration: none;
 }
 span{
   color: black;
 }
 img {
   padding-left: 5px;
 }